#buttons {
	text-align: center;
}

#Big_Button {
	position: fixed;
	top: 25%;
	left: 32%;
	right: 50%;
}

#Small_Button {
	position: fixed;
	bottom: 25%;
	left: 30%;
	right: 50%;
}

.myButton {
	background-color: #17beb3;
	border-radius: 25px;
	border: 1px solid #000000;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Verdana;
	font-size: 140px;
	padding: 16px 31px;
	text-decoration: none;
	text-shadow: 1px 2px 1px #000000;
}

.myButton:hover {
	background-color:#3875d1;
}