#quickLinks {
    background-color: cadetblue;
    display: inline-block;
    top: 10%;
}

#searchBar {
    background-color:aqua;
    display: inline-block;
}

#actionTable {
    background-color: blue;
    display: inline-block;
}